@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  background-color: #1f2127;
  height: 100vh;
}

.App {
  text-align: center;
  height: 100vh;
  color: #4dcc62;
  min-width: 100vh;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.audio-player {
  display: none;
}

.slider {
  margin-bottom: 3vh;
}

.slider-container {
  width: 100%;
  position: relative;
  margin-top: -4vh; 
}

.slider-label {
  color: white;
  margin-bottom: -0.5vh;
  font-size: calc(10px + 1.2vh);
}

.submit-button {
  width: 60vh;
  padding: 1vh;
  margin-top: 5vh;
  margin-left: 10vh;
  background: #4dcc62;
  color: black;
  border-radius: 5vh;
}


.options-header {
  font-size: calc(10px + 1.5vh);
  font-weight: 600;
}

.options-container {
  margin: 1vh;
  background-color: #39403a;
  border-radius: 2vh;
  width: 80vh;
}

.opening-screen {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  width: 60vh;
  max-height: 50vh;
  flex-direction: column;
}

.time-range-container {
  display: flex;
  width: 80vh;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
}

.logo {
  width: 70vh;
  height: 30vh;
  position: relative;
  left: -1%;
}

.App-header {
  padding: 1vh;
  font-size: calc(10px + 3vmin);
  color: #4dcc62;
  position: relative;
  margin-top: -14vh;
  margin-bottom: 20vh;
}

.App-header.list {
  margin-bottom: -2vh;
}

.list-item {
  display: flex;
  font-size: 2vmin;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  max-width: 110vh;
}

.progress {
  width: 10vh;
  height: 10vh;
}

.popularity-label {
  margin-left: 1vh;
  margin-right: 26vh;
}

.list-item-li {
  list-style-type: none;
  position: relative;
  left: -4%;
  margin: 1vh;
  border-radius: 2vh;
  min-width: 80vh;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.list-item-li:hover, .list-item-li:focus, .list-item-li:active {
  box-shadow: 1px 5px 5px -5px rgba(0, 0, 24, 0.5);
  transform: scale(1.03);
}   

.song-details{
  width: 45vh;
  padding-right: 2vh;
  padding-left: 2vh;
  font-family: 'Open Sans';
}

.audio-preview {
  width: 7vh;
  height: 7vh;
  color: black;
}

.album-cover {
  margin: 1vh;
}

.collapsible {
  min-height: 10vh;
  font-family: 'Open Sans';
  background: #868b74;
  color:  #c8d1c8;
  font-weight: 400;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  padding: 4vh;
  flex-direction: column;
}

.collapsible-header {
  margin-top: -3vh;
  display: flex;
  align-content: flex-start;
}

.expand-button {
  padding-left: 2vh;
  padding-right: 1vh;
  color: black;
  width: 5vh;
  height: 5vh;
}

.expandable:hover {
  box-shadow: 1px 5px 5px -5px rgba(0, 0, 24, 0.5);
  transform: scale(1.1);
}

.list-item-li:nth-child(odd){
  background-color: #c8d1c8;
  color:  #41503e;
}

.list-item-li:nth-child(even) {
  background-color: #758975;
  color:  #c8d1c8;
}

.App-link {
  color: #070707;
  font-size: calc(10px + 2vmin);
  font-family: 'Open Sans';
  background: #4dcc62;
  font-weight: 600;
  margin: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5vh;
  padding: 2vh;
}

.login {
  margin-top: 25vh;
}


.options-button {
  font-size: calc(10px + 1vmin);
  width: 30vh;
}

.options-button:hover {
  box-shadow: 1px 5px 5px -5px rgba(0, 0, 24, 0.5);
  transform: scale(1.1);
}

.selected {
  background: #347664;
}

.url-logo {
  height: 6vh;
  color: black;
  width: 6vh;
  margin: 2vh;
}

.loading-label {
  color: #4dcc62;
}