@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media only screen  and (min-width: 1000px) {
  .recommend-button{
    width: 35vmin;
  }

  .options-button {
    font-size: calc(10px + 1vmin);
  }

  .song-details {
    font-size: calc(14px + 1vmin);
    width: 45vmin;
  }

  .list-item-li {
    left: -4.5%;
  }

  .App-link {
    font-size: calc(10px + 1.2vmin);
  }

  .login {
    margin-top: 20vmin;
  }

  .top-recommended-options-container {
    font-size: calc(14px + 2vmin);
  }

  .expand-button {
    padding-right: 1vmin;
    padding-left: 1vmin;
  }

  .expandable:hover {
    transform: scale(1.1);
  }

  .opening-page-header {
    font-weight: 600;
  }

  .options-header {
    font-weight: 600;
  }

  body {
    font-weight: 500;
  }

  .collapsible-header {
    font-size: calc(14px + 2vmin);
  }
}

@media only screen and (max-width: 950px) {
  .song-list {
    max-width: 80vmin;
  }

  .recommend-button {
    width: 30vmin;
  }

  .options-button {
    font-size: calc(10px + 0.5vmin);
  }

  .song-details {
    font-size: calc(10px + 0.7vmin);
    width: 40vmin;
  }

  .list-item-li {
    left: -7%;
  }

  .App-link {
    font-size: calc(10px + 0.7vmin);
  }

  .sort-button {
    font-size: calc(10px + 0.3vmin);
  }

  .login {
    margin-top: 25vmin;
  }

  .album-cover {
    max-width: 11vmin;
  }

  .expand-button {
    padding-right: 1.5vmin;
    padding-left: 1.5vmin;
  }

  .expandable:hover, .expandable:active, .expandable:focus {
    transform: scale(1.03);
  }

  .opening-page-header {
    font-weight: 500;
  }

  .options-header {
    font-weight: 500;
  }

  body {
    font-weight: 400;
  }

  .collapse-container {
    font-size: calc(10px + 0.8vmin);
  }

  .collapsible-header {
    font-size: calc(10px + 1.2vmin);
  }
}


body {
  background-color: #1f2127;
  height: 100vmin;
}

a {
  text-decoration:none;
}

.App {
  text-align: center;
  height: 100vh;
  color: #4dcc62;
  min-width: 100vmin;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.error-header {
  color: #c0586a;
  font-size: calc(10px + 4vmin);
}

.error-body {
  color: #c0586a;
}

.slider {
  margin-bottom: 3vmin;
}

.slider-container {
  width: 85%;
  position: relative;
  margin-top: -4vmin; 
}

.slider-label {
  color: white;
  margin-bottom: -0.5vmin;
  font-size: calc(10px + 1.2vmin);
}

.submit-button {
  width: 60vmin;
  padding: 1vmin;
  margin: 3vmin 0vmin 2vmin 10vmin;
  background: #4dcc62;
  color: black;
  border-radius: 5vmin;
}


.options-header {
  font-size: calc(10px + 1.5vmin);
}

.options-container {
  margin: 1vmin;
  background-color: #39403a;
  border-radius: 2vmin;
  width: 80vmin;
}

.top-recommended-options-container{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort-button {
  background: #c8d1c8;
  border-radius: 2vmin;
  width: 90%;
  margin-top: -1vmin;
  border: 2px black;
  text-align: center;
  padding: 2vmin;
}

.loading-container {
  display: flex;
  margin-top: 20vmin;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opening-screen {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60vmin;
  max-height: 80vmin;
  margin-top: 20vmin;
  flex-direction: column;
}

.time-range-container {
  display: flex;
  width: 80vmin;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
}

.logo {
  width: 70vmin;
  height: 33vmin;
  position: relative;
  left: -1.5%;
}

.App-header {
  padding: 1vmin;
  font-size: calc(10px + 2vmin);
  color: #4dcc62;
  position: relative;
  margin-top: -14vmin;
  margin-bottom: 20vmin;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  color: black;
  background: #4dcc62;
  margin: 2vmin;
  align-items: center;
  justify-content: center;
  border-radius: 5vmin;
  align-content: space-around;
  min-width: 80vmin;
}

.App-header.list {
  margin-bottom: -2vmin;
}

.list-item {
  display: flex;
  font-size: 2vmin;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

.progress {
  width: 10vmin;
  height: 10vmin;
}

.popularity-label {
  margin-left: 1vmin;
  margin-right: 26vmin;
}

.list-item-li {
  list-style-type: none;
  position: relative;
  margin-bottom: 1vmin;
  border-radius: 2vmin;
  min-width: 80vmin;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.list-item-li:hover, .list-item-li:focus, .list-item-li:active {
  box-shadow: 1px 5px 5px -5px rgba(0, 0, 24, 0.5);
  transform: scale(1.03);
}   

.song-details{
  padding-right: 2vmin;
  padding-left: 2vmin;
  font-family: 'Open Sans';
}



.audio-preview {
  width: 7vmin;
  height: 7vmin;
  color: black;
}

.clickable {
  cursor: pointer;
}

.album-cover {
  margin: 1vmin;
}

.collapsible {
  min-height: 10vmin;
  font-family: 'Open Sans';
  background: #868b74;
  color:  #c8d1c8;
  font-weight: 400;
  border-bottom-left-radius: 2vmin;
  border-bottom-right-radius: 2vmin;
  padding: 4vmin;
  flex-direction: column;
}

.collapsible-header {
  margin-top: -3vmin;
  display: flex;
  align-content: flex-start;
}

.expand-button {
  cursor: pointer;
  color: black;
  width: 5vmin;
  height: 5vmin;
}

.list-item-li:nth-child(odd){
  background-color: #c8d1c8;
  color:  #41503e;
}

.list-item-li:nth-child(even) {
  background-color: #758975;
  color:  #c8d1c8;
}

.App-link {
  color: #070707;
  font-family: 'Open Sans';
  background: #4dcc62;
  margin: 2vmin;
  display: block;
  border-radius: 5vmin;
  padding: 2vmin;
}

.about-content {
  display: flex;
  font-size: calc(10px + 1vmin);
  text-align: left;
  margin-top: 5vmin;
  flex-direction: column;
  margin-left: 1vmin;
}

.sort-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: calc(10px + 1vmin);
  flex-direction: column;
  margin-top: 5vmin;
}

.options-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35vmin;
}

.expanded {
  width: 80vmin;
  left: -22%;
  margin-top: 3vmin;
  position: relative;
}

.recommend-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.selected {
  background: #347664;
}

.url-logo {
  height: 6vmin;
  color: black;
  width: 10vmin;
}

.loading-label {
  color: #4dcc62;
}

.options-confirmation {
  text-decoration: none;
  color: black;
}